.btn {
  text-transform: uppercase;
  font-family: $hind;
  font-weight: 700;
  letter-spacing: 0;
  display: inline-block;
  line-height: 1;
  text-align: center;
  border: 0;
  cursor: pointer;

  &-blue {
    font-size: 14px;
    line-height: 23px;
    background-color: $blue;
    border-radius: 9px;
    padding: 8px 44px 6px;

    @include colored-links( white, white, white );

    &:hover {
      background-color: $green;
    }
  }

  &-outline {
    line-height: 23px;
    padding: 14px 44px 12px;
    border-radius: 9px;
    border: 1px solid white;
    background-color: transparent;

    @include colored-links( white, $blue, white );

    &:hover {
      background-color: white;
    }
  }

  &-trans {
    padding: 14px 44px 12px;

    @include colored-links( $blue, $green, $blue );
  }
}

.products {
  .button {
    @extend .btn;
    @extend .btn-blue;
  }
}

.lmp_load_more_button {
  .lmp_button {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    font-family: $hind;
    color: $blue;
  }
}
