/** Search form */
// TODO: .search-form {}
// TODO: .search-form label {}
// TODO: .search-form .search-field {}
// TODO: .search-form .search-submit {}

input[type='radio'] {
  cursor: pointer;
}

input[type='checkbox'] {
  display: inline-block;
  width: auto;
  position: relative;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 19px;
  vertical-align: middle;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 100%;
  }

  &::before {
    width: 22px;
    height: 22px;
    border: 2px solid $dblue;
    background-color: white;
    top: -6px;
    left: -5px;
    box-sizing: border-box;
  }

  &::after {
    width: 10px;
    height: 10px;
    background-color: $grey;
    top: 0;
    left: 1px;
  }

  &:checked::after {
    background-color: $blue;
  }
}
