.posts {
  &-pagination {
    float: left;
    width: 100%;

    @include bp( 1 ) {
      margin-top: 30px;

      // element, value, dividier
      @include half1( margin-bottom, 93, 2 );
    }

    @include bp( 1024 ) {
      @include half1( margin-bottom, 93, 1 );
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        span,
        a {
          padding: 0.5em;

          @include colored-links( $dgrey, $blue, $dgrey );
        }

        .current {
          font-size: 18px;
          font-family: $hind;
          font-weight: 700;
          color: $blue;
          line-height: 23px;
        }

        .prev,
        .next {
          display: none;
        }
      }
    }
  }

  &-navigation {
    @include bp( 1, 1023 ) {
      max-width: 632px;

      @include center-block;
    }

    @include bp( 1024 ) {
      max-width: 1375px;
      padding: 0 20px;

      @include center-block;
    }
  }
}
