.s-hidden {
  visibility: hidden;
  padding-right: 0;//10px;
  width: 100%;
  position: absolute;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
}

.styledSelect {
  //position: absolute;
  //top: 0;
  //right: 0;
  //bottom: 0;
  //left: 0;
  font-size: 14px;
  position: relative;
}

.styledSelect::after {
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  background-size: 16px 16px;
  background-position: right;
}

.styledSelect:active,
.styledSelect.active {
  //background-color: red;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 0;
  list-style: none;
  background-color: $offwhite;
  box-shadow: 0 1px 2px rgba( black, 0.2 );
  padding: 5px;
}

.options li {
  padding: 3px 6px;
  margin: 0 0;
  font-family: $open;
  font-size: 14px;
}

.options li:hover {
  background-color: $blue;
  color: white;
}
