.footer_address {
  .widget-title {
    margin-bottom: 40px;
  }

  .location-address {
    @include bp( 1 ) {
      margin-bottom: 40px;
    }

    &.last-item {
      @include bp( 768 ) {
        margin-bottom: 0;
      }
    }

    .location {
      text-transform: uppercase;
      font-weight: 700;
      color: $blue;
    }

    address {
      font-style: normal;
    }

    .contact-detail {
      &-wrap {
        @include bp( 600 ) {
          display: inline-block;
        }

        .title {
          font-weight: 500;
          margin-right: 0.5ch;
        }

        .sep {
          @include bp( 1 ) {
            display: none;
          }

          @include bp( 600 ) {
            display: inline-block;
          }
        }
      }
    }
  }
}
