@mixin crules( $l ) {
  &:hover::after {
    content: '';
    display: inline-block;
    position: fixed;
    top: 100px;
    left: $l;
    box-shadow: 5px 7px 20px 3px rgba( black, 0.5 );
    z-index: 999999;
  }
}

@mixin irule( $section, $img, $width, $height) {
  .editor-block-list-item {
    &-acf-#{$section} {
      @include crules( 400px );

      &:hover::after {
        background: url( '../images/helper-images/#{$img}.jpg' );
        width: $width * 1px;
        height: $height * 1px;
      }
    }
  }

  div[data-type='acf/#{$section}'] .acf-accordion:not(.-open) .acf-accordion-title {
    @include crules( 50% );

    &:hover::after {
      background: url( '../images/helper-images/#{$img}.jpg' );
      width: $width * 1px;
      height: $height * 1px;
    }
  }
}

@include irule( 'products-offered',          'products-offered',          365, 99 );
@include irule( 'products-slider',          'products-slider',          365, 142 );
@include irule( 'who-we-are-appointment',          'who-we-are-appointment',          365, 165 );
@include irule( 'products-collections-by-categories',          'products-collections-by-categories',          365, 165 );
@include irule( 'team-members',          'team-members',          365, 332 );
@include irule( 'testimonials',          'testimonials',          365, 115 );
@include irule( 'schedule-eye-appointment',          'schedule-eye-appointment',          365, 43 );
@include irule( 'get-in-touch-general-enquiries',          'get-in-touch-general-enquiries',          365, 173 );
@include irule( 'eye-exam-guide',          'eye-exam-guide',          365, 205 );
