@import 'common/mixins';
@import 'common/normalize';
@import 'common/variables';

/** Import everything from autoload */
@import './autoload/**/*';

/** Import theme styles */
@import 'common/global';
@import 'components/wp-classes';

/** ACF Block styles */
@import 'blocks/_block-parts';

body {
  &.login {
    background-color: $offwhite;

    a {
      @include colored-links( $blue, $dblue, $blue );
    }

    #backtoblog {
      a {
        @include colored-links( $blue, $dblue, $blue );
      }
    }

    #reg_passmail {
      color: $blue;
    }

    form {
      background-color: white;
      border: 0;

      input {
        border-radius: 0;
      }

      #wp-submit {
        background-color: $blue;
        border: 0;
        border-radius: 0;
        transition: transit( background-color );

        &:hover {
          background-color: $dblue;
        }
      }
    }

    label {
      color: $blue;
    }
  }

  #login {
    h1 {
      a {
        background-image: url( '../images/jos-logo-dark.png' );
        background-size: 255px 75px;
        width: unset;
      }
    }

    .message {
      &.register {
        display: none;
      }
    }

    #nav a {
      @include colored-links( $blue, $dblue, $blue );
    }
  }
}
