.woocommerce-cart {
  .woocommerce {
    max-width: 1165px;
    margin-top: 50px;

    @include center-block;

    .shop_table {
      width: 100%;
      border-spacing: 30px;
    }

    .remove {
      padding: 30px;
    }

    .variation {
      float: left;
      width: 100%;
      font-size: 12px;
      line-height: 17px;
      font-family: $open;
      color: $grey;
      display: flex;
      justify-content: space-between;

      dt,
      dd {
        display: inline-block;
        margin-left: 0;
      }

      p {
        margin: 0;

        &::after {
          content: ',';
        }
      }

      span:last-child {
        p::after {
          content: '';
        }
      }
    }

    .actions {
      text-align: center;

      .button {
        @extend .btn;
        @extend .btn-outline;

        margin-top: 50px;
        border-color: $blue;
        background-color: transparent;

        @include colored-links( $blue, white, $blue );

        &:hover {
          background-color: $blue;
        }
      }

      .coupon {
        text-align: left;

        .button {
          margin-top: 20px;

          @extend .btn;
          @extend .btn-blue;
        }
      }
    }

    .checkout-button {
      @extend .btn;
      @extend .btn-blue;
    }

    .cart-collaterals {
      padding: 0 30px;
    }

    .cart_totals {
      .shop_table {
        text-align: left;

        ul,
        ol {
          padding-left: 0;
          list-style-type: none;
        }
      }
    }

    .woocommerce-shipping-totals.shipping {
      td:first-child {
        display: none;
      }
    }
  }
}
