.dg-cart {
  &-basket-icon {
    position: relative;
  }

  &-popup {
    display: none;
    background-color: white;
    border: 1px solid $grey;
    width: 319px;
    position: absolute;
    top: 45px;
    right: -33px;
    z-index: 3;

    &::after,
    &::before {
      bottom: 100%;
      left: 87%;
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::after {
      //border-color: rgba( 136, 183, 213, 0 );
      border-bottom-color: white;
      border-width: 21px;
      margin-left: -21px;
    }

    &::before {
      //border-color: rgba( 194, 225, 245, 0 );
      border-bottom-color: $grey;
      border-width: 23px;
      margin-left: -23px;
    }

    .total-quantities {
      padding: 11px 15px 10px 20px;
      background-color: $offwhite;
      font-size: 14px;

      .close {
        float: right;
        cursor: pointer;
      }

      .quantities {
        float: right;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.96px;
      }
    }
  }

  &-products {
    float: left;
    width: 100%;
  }

  &-product {
    padding: 0 25px 0 12px;
    margin-top: 20px;
    float: left;
    width: 100%;
    box-sizing: border-box;

    .variation {
      float: left;
      width: 100%;
      font-size: 12px;
      line-height: 17px;
      font-family: $open;
      color: $grey;
      display: flex;
      justify-content: space-between;

      dt,
      dd {
        display: inline-block;
        margin-left: 0;
      }

      p {
        margin: 0;

        &::after {
          content: ',';
        }
      }

      span:last-child {
        p::after {
          content: '';
        }
      }
    }
  }

  &-image {
    float: left;
    width: 115px;
    height: 115px;
    position: relative;

    img {
      width: 115px;

      @include absmid( 'v' );
    }
  }

  &-content {
    float: right;
    width: 150px;

    .product-title {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0;
      margin-top: 25px;
      margin-bottom: 12px;
    }

    .product-qty {
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.2px;
      font-family: $open;
      color: $grey;

      .title {
        margin-right: 0.5ch;
      }
    }

    .desc {
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.8px;
    }

    .price-bin {
      float: left;
      width: 100%;
      margin-top: 20px;
    }

    .price {
      font-weight: 700;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0;
      color: $green;
      float: left;
      width: 50%;
    }

    .remove {
      content: '';
      background-image: url( '../images/icons/trash.png' );
      background-repeat: no-repeat;
      display: block;
      width: 10px;
      height: 12px;
      float: right;
    }
  }

  &-subtotal {
    background-color: $offwhite;
    font-family: $open;
    clear: both;
    padding: 8px 32px 8px 30px;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0;
    margin-top: 22px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    color: $dgrey;

    .subtotal-amount {
      float: right;
      font-weight: 700;
    }
  }

  &-buttons {
    clear: both;
    float: left;
    width: 100%;
    padding: 16px 28px;
    box-sizing: border-box;

    a {
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
      letter-spacing: 0.8px;

      &::after {
        content: '';
      }

      &.view-cart {
        float: left;
        padding: 12px 32px !important;
        border: 1px solid $blue;

        @include colored-links( $blue, white, $blue );

        &:hover {
          background-color: $blue;
        }
      }

      &.checkout-btn {
        float: right;
        padding: 13px 32px !important;
      }

      &.continue-shopping {
        border: 1px solid $grey;

        @include colored-links( $grey, $dgrey, $grey );

        &:hover {
          background-color: $grey;
        }
      }
    }

    .dg-continue-shopping-wrap {
      float: left;
      width: 100%;
      text-align: center;
      margin-top: 16px;

      .close {
        padding: 12px !important;
        max-width: 150px;

        @include center-block;
      }
    }
  }
}

