#jos-category-filters {
  background-color: $offwhite;
  padding: 20px;
  box-sizing: border-box;
}

.archive.woocommerce .content .jos-category-filters {
  max-width: 674px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;

  // @include center-block;

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .select-wrapper {
    width: 33%;
    flex-grow: 1;
    margin: 0 10px;
    text-align: center;
  }

  .select {
    width: unset;

    .styledSelect {
      //text-align: center;
      text-transform: uppercase;
      margin-top: 10px;
      max-width: 140px;
      padding-right: 30px;

      &::after {
        background-image: url( '../images/arrows/cat-filter-arrow.png' );
        background-size: 16px 10px;
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        height: 12px;
        top: 0;
        right: 0;
      }
    }

    ul.options {
      padding: 10px;
      width: 200px;
      top: 50px;
      left: 50%;
      transform: translateX( -50% );
      background-color: rgba( white, 0.7 );
      backdrop-filter: blur( 6px );

      li {
        text-align: left;
        font-family: $open;
        margin-left: 20%;

        &:first-child {
          text-transform: uppercase;
          margin-bottom: 10px;
          display: none;
        }
      }
    }
  }

  .filter_gender-wrap {
    .select {
      .options {
        @include bp( 1, 600 ) {
          left: 110%;
        }
      }
    }
  }

  .max_price-wrap {
    .select {
      .options {
        @include bp( 1, 600 ) {
          left: -10px;
        }
      }
    }
  }

  .reset-filters {
    display: flex;
    align-items: center;

    @include bp( 1, 600 ) {
      margin-top: 1em;
    }
  }
}
