.checkout {
  .woocommerce {
    float: left;
    width: 100%;

    &-checkout {
      @include bp( 1, 1249 ) {
        padding: 0 20px;
      }

      @include bp( 1 ) {
        margin-top: 57px;
      }

      #shipping_phone_field,
      #shipping_first_name_field,
      #shipping_company_field,
      #shipping_country_field,
      #billing_country_field {
        display: none;
      }

      input,
      textarea {
        border: 1px solid $grey;
        padding-left: 20px;
      }

      .keen_vat_no {
        label {
          display: none;
        }
      }

      .shipping_address {
        #shipping_vat_field {
          display: none;
        }
      }

      .col2-set {
        max-width: 904px;

        @include center-block;

        .col-1,
        .col-2 {
          @include bp( 768 ) {
            width: 45%;
            max-width: 377px;
          }
        }

        .col-1 {
          @include bp( 768 ) {
            float: left;
            border-right: 1px solid $grey;
            padding-right: 37px;
          }

          @include bp( 1024 ) {
            padding-right: 74px;
          }

          .dg-door-number {
            margin-top: 118px;
            position: relative;

            &::before {
              position: absolute;
              top: -( 29 + 22 ) * 1px;
              content: 'Billing Address';
              font-weight: 700;
              font-size: 20px;
            }
          }
        }

        .col-2 {
          @include bp( 768 ) {
            float: right;
          }

          .shipping_address {
            float: left;
            width: 100%;
          }

          .woocommerce-shipping-fields__field-wrapper {
            margin-top: 34px;
          }

          .woocommerce-additional-fields {
            float: left;
            width: 100%;

            .notes textarea {
              height: 210px;
            }
          }
        }
      }
    }
  }
}

.dg-checkout-navigation,
.woocommerce-form-coupon-toggle {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 63px;
}

.dg-checkout-navigation {
  .prev {
    visibility: hidden;
  }
}

.woocommerce-form-coupon-toggle {
  margin-bottom: 63px;
}

.checkout_coupon {
  &.woocommerce-form-coupon {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: -32px;
    margin-bottom: 63px;

    p {
      max-width: 70%;

      @include center-block;
    }

    .button {
      @extend .btn;
      @extend .btn-blue;

      cursor: pointer;
      border: 0;
    }
  }
}

#dg-order-review {
  display: none;
  max-width: 1365px;
  margin-left: auto;
  margin-right: auto;

  .dg-user-account-information {
    font-size: 15px;
    font-family: $open;
    line-height: 24px;
    letter-spacing: 1.2px;
    float: left;

    @include bp( 1 ) {
      width: 100%;
    }

    @include bp( 1024 ) {
      width: 35%;
    }

    @include bp( 1440 ) {
      border-right: 1px solid $grey;
    }

    .keen-user-address {
      @include bp( 1 ) {
        margin-bottom: 30px;
      }
    }

    .side {
      &-left,
      &-right {
        @include bp( 1440 ) {
          display: block;
          width: 45%;
        }
      }

      &-left {
        @include bp( 1440 ) {
          float: left;
        }
      }

      &-right {
        @include bp( 1440 ) {
          float: right;
        }
      }
    }
  }

  .dg-order-details {
    @include bp( 1, 1023 ) {
      float: left;
      width: 100%;
    }

    @include bp( 1024 ) {
      float: right;
      width: 65%;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: $hind;
    line-height: 37px;
    letter-spacing: 0;
    text-transform: uppercase;
  }
}

#order_review {
  table {
    width: 100%;
    max-width: 674px;

    @include bp( 1 ) {
      border-collapse: collapse;
      //border-collapse: separate;
      //border-spacing: 0 30px;
    }

    tbody {
      width: 100%;
    }

    .cart_item {
      .item-name {
        float: left;
        margin-left: 5px;
      }

      .product {
        &-quantity {
          float: left;
        }

        &-thumbnail {
          height: 132px;

          @include bp( 1, 767 ) {
            float: left;
            margin-top: 20px;
          }

          img {
            @include bp( 768 ) {
              width: 132px;
            }
          }
        }

        &-name {
          padding-right: 0;
          font-size: 16px;
          font-family: $hind;
          line-height: 26px;
          letter-spacing: 0;
          vertical-align: middle;
          height: 100%;

          @include bp( 1 ) {
            width: 300px;
          }

          @include bp( 1440 ) {
            width: 400px;
            padding-left: 40px;
          }
        }

        &-total {
          font-family: $open;
          font-size: 16px;
          line-height: 22px;
        }
      }

      .variation {
        float: left;
        margin: 0;
        clear: both;

        span {
          float: left;
          font-size: 12px;
          font-family: $open;
          line-height: 17px;
          color: $grey;

          &::after {
            content: ',';
            margin-right: 1ch;
          }

          &:last-child::after {
            content: '';
          }
        }

        dt,
        dd {
          float: left;

          p {
            margin: 0;
          }
        }

        dd {
          margin-left: 1ch;
        }
      }
    }

    tfoot {
      @include bp( 1, 767 ) {
        display: block;
        margin-top: 30px;
      }
    }

    .woocommerce-shipping-totals,
    .order-total {
      th,
      td {
        @include bp( 1, 767 ) {
          width: 160px;
          display: block;
        }

        @include bp( 1 ) {
          padding: 20px;
          box-sizing: border-box;
          text-align: left;
        }

        @include bp( 767 ) {
          padding: 20px 0;
        }
      }

      td {
        &:first-child {
          @include bp( 1, 767 ) {
            display: none;
          }
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
    }

    .woocommerce-shipping-totals {
      background-color: rgba( $offwhite, 0.32 );
    }

    .order-total {
      background-color: $offwhite;
    }
  }
}

#ship-to-different-address {
  position: relative;
  float: left;
  width: 100%;

  .ship-to-different-address-wrapper {
    position: relative;
    float: left;
    width: 100%;
  }

  .title,
  .input-title {
    float: left;
  }

  .title {
    width: 100%;
    margin-bottom: 36px;
  }

  .input-title {
    font-size: 16px;
    line-height: 22px;
    font-family: $open;
    color: $grey;
    left: 30px;

    @include absmid( 'v' );
  }

  input {
    float: left;
    text-align: left;
    width: auto;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background-color: white;
      border-radius: 100%;
      border: 2px solid $grey;
      position: absolute;
      top: -4px;
      left: -4px;
    }

    &:checked::after {
      content: '';
      position: absolute;
      z-index: 2;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: $offwhite;
      top: 2px;
      left: 2px;
    }
  }
}

.dg {
  &-user-account-information,
  &-order-details {
    @include bp( 1440 ) {
      box-sizing: border-box;
    }
  }

  &-user-account-information {
    width: 48% !important;
  }

  &-order-details {
    width: 45% !important;
  }
}

.checkout-steps-banner {
  background-color: $offwhite;
  box-sizing: border-box;

  // element, top, right, bottom, left, dividier
  @include half( padding, 23, 0, 31, 0, 1 );

  .step {
    &-one,
    &-two {
      .step {
        &-number {
          font-size: 12px;
          font-family: $open;
          line-height: 17px;
          letter-spacing: 0.24px;
          color: $grey;
        }

        &-title {
          font-size: 18px;
          font-family: $hind;
          font-weight: 600;
          line-height: 29px;
          margin: 8px 0;
        }

        &-back {
          font-size: 14px;
          font-family: $open;
          line-height: 19px;
          letter-spacing: 0.28px;
          color: $grey;
          position: absolute;
          left: 0;
          cursor: pointer;

          @include absmid( 'v' );
        }
      }
    }

    &-two {
      display: none;
      max-width: 1365px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
