.dg-wc-login-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( white, 0.85 );
  z-index: 9;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }

  .checkout {
    &-using-account,
    &-as-new-customer {
      width: 50%;
      float: left;
      position: relative;
      min-height: 280px;
      box-sizing: border-box;
    }

    &-as-new-customer {
      float: left;
      border-right: 1px solid $grey;

      .btn {
        padding: 7px 19px 6px;
        position: absolute;
        bottom: 0;
      }
    }

    &-using-account {
      float: right;
      padding-left: 43px;
    }
  }

  .account-benefits {
    font-style: italic;
    font-size: 14px;
    line-height: 19px;
    font-family: $open;

    ul {
      margin: 0;
      padding: 0;
      padding-left: 18px;
    }
  }

  form {
    &.checkout_coupon,
    &.login,
    &.register {
      background-color: white;
      border-radius: 0;
      max-width: 759px;
      padding: 31px 44px 43px 48px;
      box-sizing: border-box;
      border: 1px solid $grey;

      @include absmid( 'b' );

      label {
        display: none;
      }

      input.input-text {
        margin-bottom: 19px;
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 19px;
        font-family: $open;
      }
    }

    .dg {
      &-left,
      &-right {
        width: 100%;
      }

      &-left {
        .lost_password {
          text-align: left;
          font-size: 14px;
          margin-top: 16px;

          a {
            //@include colored-links( $overlay, $brown, $overlay );
          }
        }
      }

      &-right {
        .btn.btn-outline {
          background-color: transparent;
          padding: 7px 45px 6px;
          border-color: $blue;
          color: $blue;
          cursor: pointer;
          font-weight: 400;
          position: absolute;
          bottom: 0;
        }

        .woocommerce-form-login__rememberme {
          font-size: 14px;
          position: relative;
          float: right;
          margin-right: 20px;
          //color: $overlay;

          input {
            position: absolute;
            top: 8px;
            right: -20px;
            width: auto;
          }
        }
      }
    }

    .form-row {
      padding: 0;
      margin: 0;

      &.form-row-first,
      &.form-row-last {
        width: 100% !important;
        margin: 0;
        padding: 0;
      }
    }
  }

  .dg-form-title,
  .checkout-as-new {
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    font-family: $hind;
    letter-spacing: 0;
    margin-bottom: 17px;
  }
}
