.lost_reset_password {
  max-width: 525px;

  @include center-block;

  .button {
    @extend .btn;
    @extend .btn-blue;
  }
}

.woocommerce-lost-password {
  .woocommerce {
    max-width: 525px;
    padding: 0 20px;
    line-height: 1.62;

    @include center-block;
  }
}
