.woocommerce-account {
  .woocommerce {
    padding: 0 20px;

    @include bp( 1 ) {
      max-width: 525px;
      transition: transit( max-width );

      @include center-block;
    }

    @include bp( 1024 ) {
      max-width: 80%;
    }

    &-button {
      @extend .btn;
      @extend .btn-blue;

      display: block;
    }

    .woocommerce-orders-table {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 100%;

      .button {
        padding: 5px 5px 3px 5px;
      }
    }

    .woocommerce-form-login__rememberme {
      display: block;
      margin-bottom: 32px;
    }

    .u {
      &-column1,
      &-column2 {
        @include bp( 1024 ) {
          width: 45%;
          position: relative;
          min-height: 275px;
          margin-bottom: 90px;
        }
      }

      &-column1 {
        @include bp( 1024 ) {
          float: left;
        }

        .woocommerce-form-login__submit {
          @include bp( 1024 ) {
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }

        .lost_password {
          @include bp( 1024 ) {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0;
          }

          a {
            @extend .btn;
            @extend .btn-outline;

            @include colored-links( $blue, white, $blue );

            border-color: $blue;
            font-size: 14px;
            padding-top: 7px;
            padding-bottom: 5px;

            &:hover {
              background-color: $blue;
            }
          }
        }
      }

      &-column2 {
        @include bp( 1, 1023 ) {
          margin-top: 50px;
        }

        @include bp( 1024 ) {
          margin-top: 0;
          float: right;
        }

        .woocommerce-form-register__submit {
          @include bp( 1024 ) {
            position: absolute;
            bottom: 0;
          }
        }
      }
    }

    .woocommerce-MyAccount {
      &-navigation {
        text-align: center;

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            margin-bottom: 10px;
            display: inline-block;
            margin-right: 10px;
          }
        }
      }

      &-content {
        margin-top: 40px;
      }
    }

    .edit-account {
      max-width: 800px;
      padding: 0 20px;

      @include center-block;

      label {
        font-weight: 600;
      }

      span {
        em {
          display: inline-block;
          margin-top: 10px;
        }
      }

      fieldset {
        border: 0;
        margin-top: 40px;

        legend {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 20px;
        }
      }

      .button {
        @extend .btn;
        @extend .btn-blue;
      }
    }
  }
}
