.woocommerce {
  &-message {
    text-align: center;
    padding: 30px 20px;
    position: relative;
  }

  &-info {
    text-align: center;
  }
}

.button {
  &.wc-forward,
  &.wc-backward {
    @extend .btn;
    @extend .btn-blue;
  }
}

.cart-empty {
  &.woocommerce-info {
    text-align: center;
  }
}

.return-to-shop {
  text-align: center;
}
