.archive.woocommerce {
  .content {
    .shop-wrapper {
      max-width: 1380px;

      @include center-block;

      .blue-dots {
        margin-top: -10px;
        margin-bottom: 69px;
        position: relative;
        z-index: 1;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .products {
      margin-top: 63px;

      @include bp( 1, 1199 ) {
        padding: 0 20px;
      }

      @include bp( 600 ) {
        display: flex;
        flex-flow: row wrap;
      }
    }

    .product {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include bp( 1 ) {
        margin-bottom: 60px;
      }

      @include bp( 600, 1023 ) {
        &:nth-child(odd) {
          border-right: 1px solid $grey;
        }
      }

      @include bp( 1024, 1199 ) {
        border-right: 1px solid $grey;

        &:nth-child(3n+0) {
          border-right: 0;
        }
      }

      @include bp( 1200 ) {
        border-right: 1px solid $grey;

        &:nth-child(4n+0) {
          border-right: 0;
        }
      }

      @include bp( 600 ) {
        padding: 20px 10px;
        width: 46%;
      }

      @include bp( 1024 ) {
        width: 30%;
      }

      @include bp( 1200 ) {
        width: 23%;
      }

      .shop-image-wrapper {
        width: 250px;
        height: 250px;
        position: relative;
        margin-bottom: 28px;

        @include center-block;

        img {
          @include absmid( 'v' );
        }
      }

      a {
        max-width: 300px;

        @include colored-links( $dgrey, $dgrey, $dgrey );
        @include center-block;
      }

      img {
        @include center-block;
      }

      .woocommerce-loop-product__title {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        font-family: $hind;
        letter-spacing: 0;
      }

      .price {
        display: block;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
        font-family: $hind;
        color: $dblue;
      }

      .button {
        @include center-block;
        @include colored-links( white, white, white );

        margin-top: 35px;
        margin-bottom: 0;//35px;
        width: 180px;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.shop-page-bottom-text {
  background-color: $offwhite;
  text-align: center;
  font-size: 16px;
  line-height: 31px;
  font-family: $open;

  @include bp( 1 ) {
    // element, top, right, bottom, left, dividier
    @include half( padding, 90, 0, 93, 0, 2 );
  }

  @include bp( 1024 ) {
    @include half( padding, 90, 0, 93, 0, 1 );
  }

  &-wrapper {
    max-width: 1134px;

    @include center-block;

    @include bp( 1 ) {
      padding: 0 20px;
    }

    @include bp( 1024 ) {
      padding: 0 40px;
    }

    @include bp( 1250 ) {
      padding: 0;
    }
  }
}

.enquire-now-wrapper {
  text-align: center;

  @include bp( 1 ) {
    // element, value, dividier
    @include half1( margin-bottom, 73, 2 );
  }

  @include bp( 1024 ) {
    // element, value, dividier
    @include half1( margin-bottom, 73, 1 );
  }
}

.onsale {
  color: white;
  background-color: red;
  line-height: 1;
  padding: 26px 18.05px;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 1;
}

.een-woocommerce-notice {
  background-color: rgba( $dgrey, 0.4 );
  backdrop-filter: blur( 4px );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  cursor: zoom-out;

  .keen-notice-wrapper {
    max-width: 1165px;
    padding: 40px 20px;
    text-align: center;
    background-color: $offwhite;
    list-style-type: none;

    @include center-block;
    @include absmid( 'b' );

    &::after {
      content: 'x';
      position: absolute;
      right: 0;
      top: 0;
      padding: 20px;
    }
  }
}

.woocommerce-form-coupon-toggle {
  .keen-woocommerce-notice {
    position: relative;
    cursor: unset;
    background-color: transparent;
    backdrop-filter: none;
    float: none;

    & > div,
    & > ul {
      background-color: transparent;
      max-width: unset;
      padding: initial;
      text-align: center;
      position: relative;
      list-style-type: none;
      left: unset;
      transform: none;

      &::after {
        content: '';
      }
    }
  }
}

.brands {
  &-wrapper {
    margin-top: 65px;
    max-width: 1160px;
    padding: 0 20px;

    @include center-block;

    @include bp( 1 ) {
      // element, value, dividier
      @include half1( margin-bottom, 65, 2 );
    }

    @include bp( 1024 ) {
      @include half1( margin-bottom, 65, 1 );
    }

    .blue-dots {
      margin-bottom: 60px;
    }
  }

  &-width {
    display: flex;
    flex-flow: row wrap;

    .brand {
      position: relative;
      display: block;
      width: 20%;
      min-width: 185px;
      height: 72px;
      margin-bottom: 40px;

      img {
        @include absmid( 'b' );

        width: unset;
      }
    }
  }
}

.term {
  &-glasses,
  &-sunglasses {
    .product a {
      cursor: default;
    }

    .add_to_cart_button {
      display: none !important;
    }
  }
}
