.single.woocommerce {
  .products-slider {
    padding-top: 0;
  }

  .keen {
    &-single-product-wrapper,
    &-border-bottom-wrapper {
      @include bp( 1024 ) {
        float: left;
        width: 100%;
      }
    }

    &-single-product-wrapper {
      @include bp( 1, 1023 ) {
        max-width: 768px;

        @include center-block;
      }
    }

    &-border-bottom {
      max-width: 1365px;
      height: 1px;
      background-color: $grey;
      margin: 77px 0 45px;

      @include center-block;
    }
  }

  div.product {
    position: relative;
    max-width: 1180px;

    @include center-block;

    @include bp( 1 ) {
      // element, top, right, bottom, left, dividier
      @include half( padding, 77, 40, 70, 40, 2 );
    }

    .onsale {
      right: unset;
      left: 70px;
      top: 50px;
      //position: relative;
      //display: block;
      //width: 68px;
      //height: 68px;
      //box-sizing: border-box;
    }

    .woocommerce-product-gallery {
      @include bp( 1024 ) {
        float: left;
        width: 45%;
      }

      &__wrapper {
        @include bp( 1 ) {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          max-width: 528px;
          margin-top: 0;
          margin-bottom: 50px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      &__image {
        border: 1px solid $grey;

        &:first-child {
          border: 0;
          width: 100%;
          margin-bottom: 5px;

          img {
            @include center-block;
          }
        }

        &:nth-child(2) {
          @include bp( 1024 ) {
            margin-left: 45px;
          }
        }

        &:last-child {
          @include bp( 1024 ) {
            margin-right: 45px;
          }
        }
      }
    }

    .entry-summary {
      @include bp( 1024 ) {
        float: right;
        width: 45%;
      }
    }

    .product {
      &_title {
        font-size: 28px;
        font-weight: 600;
        line-height: 45px;

        @include bp( 1 ) {
          text-align: center;
        }

        @include bp( 1024 ) {
          text-align: left;
        }
      }

      &-code {
        @include bp( 1 ) {
          font-size: 12px;
          font-family: $open;
          letter-spacing: 0.24px;
          color: $grey;
          text-align: center;
        }

        @include bp( 1024 ) {
          text-align: right;
          margin-top: -20px;
        }
      }
    }

    .price {
      @include bp( 1 ) {
        font-size: 24px;
        font-weight: 700;
        color: $dblue;
        text-align: center;
      }

      @include bp( 1024 ) {
        text-align: left;
      }
    }

    form.cart {
      .variations {
        width: 100%;

        tbody {
          display: flex;
          justify-content: space-between;
        }

        tr {
          width: 100%;
          text-align: center;
          display: block;
          padding: 5px;
        }

        .value {
          display: block;
          width: 100%;
        }

        .label {
          display: none;
        }

        select {
          @include do_select(  );

          padding-left: 0;
          padding-right: 0;
          background-image: url( '../images/arrow_black_down.png' );
          background-position: right;
          background-size: 15px 13px;
          width: 100%;
          border-bottom: 1px solid $dgrey;
          font-size: 14px;
          font-family: $open;
        }
      }
    }

    .keen {
      &-add-to-cart-wrap {
        position: relative;
        font-family: $open;
        line-height: 25px;
      }

      &-quantity-wrap {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 34px 0 54px;

        .quantity {
          position: relative;
          margin: 0 11px;

          &::after {
            position: absolute;
            top: 1px;
            right: 1px;
            content: '';
            display: block;
            width: 16px;
            height: 34px;
            background: white;
          }

          input {
            text-align: center;
            border: 1px solid $grey;
            max-width: 59px;
            padding: 8px 0 8px 16px;

            &.is-mobile {
              padding: 8px;
            }
          }

          &-title {
            font-size: 14px;
            font-weight: 600;
            line-height: 23px;
            margin-right: 19px;
            font-family: $hind;
          }
        }

        button {
          background: transparent;
          border: 0;
          font-weight: 700;
        }
      }
    }

    button[type='submit'] {
      @extend .btn;
      @extend .btn-blue;

      margin-top: 42px;
    }

    .wcppec-checkout-buttons {
      &.woo_pp_cart_buttons_div {
        display: none;
      }
    }
  }
}
