.login-register-menu {
  z-index: 1;

  @include bp( 1, 1023 ) {
    position: absolute;
    right: 36px;
    top: 42px;
  }

  @include bp( 1024 ) {
    position: relative;
    float: right;
    margin-top: 40px;
  }

  ul {
    li {
      display: inline-block;

      &.loginout-menu-item {
        margin-right: 5px;
      }

      a {
        display: inline-block;

        img {
          display: inline-block;
          height: 20px;
        }
      }
    }
  }

  .dg-cart-basket-icon {
    position: relative;

    a img {
      width: 23px;
      height: 21px;
    }

    .cart-count {
      position: absolute;
      color: white !important;
      font-size: 12px;
      line-height: 1;
      right: -10px;
      top: 0;

      &::before {
        content: '';
        position: absolute;
        display: block;
        background-color: $blue;
        padding: 0.75em;
        border-radius: 100%;
        top: -4px;
        z-index: -1;
        right: -6px;
      }
    }
  }
}
