.mobile-menu-logo {
  @include bp( 1, 1023 ) {
    position: relative;
    z-index: 9;
  }

  @include bp( 1024 ) {
    display: none;
  }
}

.main-menu-open {
  @include bp( 1 ) {
    display: inline-block;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin: 51px 0 22px 36px;
    height: 0;
    line-height: 0;
  }

  @include bp( 1024 ) {
    display: none;
  }

  .main-menu-open,
  .dashicons {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::selection {
      -webkit-tap-highlight-color: transparent;
      background-color: transparent;
    }
  }

  .dashicons {
    color: white;
    line-height: 0;
    height: 0;

    &::before {
      display: inline-block;
      height: 0;
    }
  }
}

.main-navigation {
  display: block;
  width: 100%;
  font-family: $hind;

  @include bp( 1, 1023 ) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 3;
  }

  @include bp( 1024 ) {
    position: relative;
    z-index: 2;
    width: 70%;
    float: left;
    margin-top: 33px;
    margin-left: 60px;
  }

  .btn-close {
    @include bp( 1, 1023 ) {
      position: absolute;
      bottom: 0;
      border: 0;
      background: $green;
      width: 100%;
      color: white;
      padding: 20px;
    }

    @include bp( 1024 ) {
      display: none;
    }
  }

  .nav {
    @include bp( 1, 1023 ) {
      padding-left: 20%;
      margin-top: 40px;
      max-height: 400px;
      overflow-y: scroll;
    }

    @include bp( 1024 ) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include bp( 199999 ) {
      position: absolute;
      top: 0;
      height: 100%;
      //width: 100%;
      background-color: white;
      //border-top: 1px solid rgba( white, 0.21 );
      padding-left: 20%;
    }

    & > li:first-child > a {
      @include bp( 1024 ) {
        padding-left: 0;
      }
    }

    & > li:last-child > a {
      @include bp( 1024 ) {
        //padding-right: 0;
      }
    }

    li {
      @include bp( 1, 1023 ) {
        width: 250px;
      }

      @include bp( 1024 ) {
        display: block;
        position: relative;
      }

      a {
        @include bp( 1 ) {
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          display: inline-block;
          padding: 10px 20px;
          letter-spacing: 0;
          font-size: 14px;
          line-height: 23px;

          @include colored-links( $blue, $grey, $blue );
        }

        @include bp( 1024 ) {
          //padding: 15px;
          padding: 8px 22px 5px;

          @include colored-links ( white, $grey, white );
        }
      }

      ul {
        display: none;

        @include bp( 1, 1023 ) {
          margin-left: 15px;
        }

        li {
          a {
            @include bp( 1024 ) {
              //color: white !important;
              display: block;
            }
          }
        }
      }

      &:hover > ul {
        @include bp( 1024 ) {
          display: block;
          position: absolute;
          margin-left: 0;
          background-color: rgba( $green, 0.4 );
          width: 200px;

          li {
            &:hover > ul {
              position: absolute;
              top: 0;
              left: 100%;
              background-color: rgba( $green, 0.4 );
            }

            &.menu-item-has-children > a::after {
              @include bp( 1024 ) {
                //background-image: url( '../images/icons/Arrow Right.png' );
                background-repeat: no-repeat;
                right: 20px;
              }
            }
          }
        }

        a {
          text-transform: uppercase;

          @include bp( 1 ) {
            @include colored-links( $blue, $grey, $blue );
          }

          @include bp( 1024 ) {
            @include colored-links( white, $grey, white );
          }
        }
      }

      &.menu-item-has-children > a {
        &::after {
          @include bp( 1 ) {
            content: '';
            //background-image: url( '../images/icons/Arrow Down.png' );
            background-repeat: no-repeat;
            display: block;
            width: 10px;
            height: 10px;

            @include absmid( 'v' );

            right: 0;
          }
        }
      }
    }

    .blue-btn {
      a {
        background-color: $blue;
        padding: 8px 22px 5px;
        border-radius: 9px;

        @include colored-links( white, white, white );

        &:hover {
          background-color: $dblue;
        }
      }
    }
  }
}
