@import 'blocks/products-offered';
@import 'blocks/products-slider';
@import 'blocks/who-we-are-appointment';
@import 'blocks/products-collections-by-categories';
@import 'blocks/products-collections-by-brand';
@import 'blocks/text-only';
@import 'blocks/team-members';
@import 'blocks/testimonials';
@import 'blocks/schedule-eye-appointment';
@import 'blocks/exam-guide-list';
@import 'blocks/title-text-read-more';
@import 'blocks/faqs';
@import 'blocks/home-visits';
@import 'blocks/get-in-touch-general-enquiries';
@import 'blocks/insert-maps';
@import 'blocks/text-image-hor-split';
@import 'blocks/image-slider';

.keen-block {
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 58px;
  letter-spacing: 0;
  color: $dgrey;
  text-align: center;
}

.blue {
  &-dots {
    text-align: center;
  }

  &-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: $blue;
    border-radius: 100%;
  }
}

.dg-full-width-block {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.top-title {
  @include bp( 1 ) {
    text-align: center;
    margin-bottom: ( 115 / 2 ) * 1px;
  }

  @include bp( 1024 ) {
    margin-bottom: 115px;
  }

  .mixed-title {
    .bold,
    .regular {
      @include bp( 1 ) {
        font-size: 33px;
        line-height: 37px;
      }
    }

    .bold {
      font-weight: 700;
    }

    .regular {
      font-weight: 300;
    }
  }

  .title-text {
    @include bp( 1 ) {
      margin-top: 19px;
      letter-spacing: 1.28px;
    }
  }
}

.custom-slick-arrow {
  &.custom-slick {
    &-prev,
    &-next {
      &::after {
        content: '';
        background-image: url( '../images/arrows/blue-line-arrow.png' );
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        width: 27px;
        height: 47px;
        z-index: 2;
        top: 120px;
        cursor: pointer;
      }
    }

    &-prev {
      &::after {
        left: -50px;
      }
    }

    &-next {
      &::after {
        right: -50px;
        transform: rotate( 180deg );
      }
    }
  }
}

.top-text {
  max-width: 1134px;

  @include center-block;

  @include bp( 1 ) {
    font-size: 16px;
    line-height: 31px;
    font-family: $open;
    letter-spacing: 0;
    margin-top: 38px;
    margin-bottom: 47px;
    text-align: center;

    // element, top, right, bottom, left, dividier
    @include half( padding, 0, 40, 0, 40, 2 );
  }
}
