.eye-exam-guide {
  position: relative;
  overflow: hidden;

  @include bp( 1, 1023 ) {
    @include half( padding, 67, 40, 70, 40, 2 );
  }

  @include bp( 1024 ) {
    @include half( padding, 67, 0, 70, 0, 1 );
  }

  &-wrapper {
    max-width: 1364px;

    @include center-block;

    @include bp( 1024 ) {
      width: 80%;
    }
  }

  .top-text {
    margin-top: 38px;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 31px;
    font-family: $open;
    letter-spacing: 0;
    text-align: center;
  }

  .examination {
    &-wrap {
      position: relative;
      float: left;
      width: 100%;
    }

    &-guide {
      display: block;

      @include bp( 1024 ) {
        max-width: 50%;
        margin-top: 50px;
      }

      @include bp( 1880 ) {
        max-width: 789px;
      }

      .point-title {
        font-size: 24px;
        font-weight: 700;
        color: $dblue;
        line-height: 30px;
        font-family: $hind;
        position: relative;
        float: left;
        width: 100%;

        td {
          vertical-align: top;
        }

        .number {
          float: left;
        }

        .title {
          display: inline-block;
          float: left;
        }
      }

      .text {
        float: left;
        width: 100%;
        margin-top: 20px;
        line-height: 28px;
      }

      .sep {
        display: block;
        width: 39px;
        height: 1px;
        background-color: $blue;
        margin: 42px 0;
        float: left;
      }
    }

    &-images {
      @include bp( 1, 1023 ) {
        float: left;
        width: 100%;
      }

      @include bp( 1024 ) {
        position: absolute;
        top: 0;
        right: -20%;
        width: 60%;
      }

      @include bp( 1760 ) {
        width: 53%;
      }

      .image {
        margin-bottom: 16px;
      }

      img {
        display: block;

        @include bp( 1, 1023 ) {
          @include center-block;
        }
      }
    }
  }
}
