.faqs {
  @include bp( 1 ) {
    // element, top, right, bottom, left, dividier
    @include half( padding, 56, 0, 95, 0, 2 );
  }

  @include bp( 1024 ) {
    @include half( padding, 56, 0, 95, 0, 1 );
  }

  .top-text {
    max-width: 1134px;

    @include center-block;

    @include bp( 1 ) {
      font-size: 16px;
      line-height: 31px;
      font-family: $open;
      letter-spacing: 0;
      margin-top: 38px;
      margin-bottom: 47px;
      text-align: center;

      // element, top, right, bottom, left, dividier
      @include half( padding, 0, 40, 0, 40, 2 );
    }
  }

  .faqs-list {
    max-width: 1134px;

    @include bp( 1 ) {
      // element, top, right, bottom, left, dividier
      @include half( margin, 0, 40, 0, 40, 2 );
      @include center-block;
    }
  }

  .question {
    line-height: 32px;
    font-family: $hind;
    letter-spacing: 0;
    font-weight: 700;
    background-color: $offwhite;
    position: relative;
    margin-bottom: 9px;
    transition: transit( margin-bottom );

    @include bp( 1 ) {
      font-size: 16px;
      padding: 20px 40px 20px 30px;
    }

    @include bp( 768 ) {
      font-size: 20px;
    }

    &::after {
      content: '';
      background-image: url( '../images/arrows/faq-arrow.png' );
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      width: 15px;
      height: 24px;
      margin-top: 0;
      transform: rotate( 0deg );
      transition: transit( transform ), transit( margin-top );
      transform-origin: 50% 50%;

      @include absmid( 'v' );

      @include bp( 1 ) {
        right: 20px;
      }

      @include bp( 768 ) {
        right: 34px;
      }
    }

    &.current {
      margin-bottom: 0;

      &::after {
        transform: rotate( 90deg );
        margin-top: -12px;
      }
    }
  }

  .answer {
    display: none;
    font-size: 16px;
    line-height: 31px;
    font-family: $open;
    letter-spacing: 0;

    @include bp( 1 ) {
      font-size: 16px;
      padding: 20px 40px 20px 30px;
    }
  }
}
