.get-in-touch-general-enquiries {
  @include bp( 1024 ) {
    display: flex;
  }

  .get-in-touch,
  .general-enquiries {
    @include bp( 1024 ) {
      width: 50%;
      float: left;
    }

    .full-width-wrapper {
      @include bp( 1 ) {
        max-width: 444px;
      }

      @include bp( 1, 1023 ) {
        @include center-block;
      }

      @include bp( 1024 ) {
        padding-left: 10%;
        padding-right: 10%;
      }
    }
  }

  .section-title,
  .blue-dots {
    @include bp( 1024 ) {
      text-align: left;
    }
  }

  .get-in-touch {
    @include bp( 1 ) {
      // element, top, right, bottom, left, dividier
      @include half( padding, 63, 40, 65, 40, 2 );
    }

    @include bp( 1024 ) {
      @include half( padding, 63, 0, 65, 0, 1 );

      justify-content: flex-end;

      .full-width-wrapper {
        float: right;
      }
    }

    .location {
      font-size: 24px;
      font-weight: 700;
      font-family: $hind;
      line-height: 38px;
      color: $dblue;
      text-transform: uppercase;
      letter-spacing: 0;
      margin-bottom: 24px;

      &-address {
        margin-top: 45px;

        &.last-item {
          margin-top: 0;

          .border-bottom {
            display: none;
          }
        }
      }
    }

    .address {
      background-image: url( '../images/icons/house.png' );
      background-repeat: no-repeat;
      margin-bottom: 20px;

      address {
        font-style: normal;
        line-height: 25px;
        font-weight: 600;
        font-family: $open;
      }
    }

    .contact {
      &-details {
        .email,
        .phone {
          background-repeat: no-repeat;
        }

        .phone {
          background-image: url( '../images/icons/phone.png' );
        }

        .email {
          background-image: url( '../images/icons/envelope.png' );
          margin-top: 30px;
        }
      }

      &-detail {
        display: block;
        margin-left: 65px;

        &-wrap {
          display: block;
        }

        a {
          @include colored-links( $dgrey, $grey, $dgrey );

          line-height: 25px;
          font-family: $open;
          font-weight: 600;
        }
      }
    }

    .btn {
      font-size: 12px;
      font-weight: 400;
      font-family: $open;
      line-height: 17px;
      letter-spacing: 0.24px;
      padding-left: 0;
      margin-top: ( 36 - 14 ) * 1px;
    }

    .border-bottom {
      display: block;
      width: 100%;
      height: 1px;
      background-color: $grey;
      margin-top: 28px;
      margin-bottom: 30px;
    }

    .emergency {
      &-details {
        font-family: $hind;

        @include bp( 1 ) {
          // element, value, dividier
          @include half1( margin-top, 65, 2 );
        }

        @include bp( 1024 ) {
          @include half1( margin-top, 65, 1 );
        }
      }

      &-text {
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0.64px;
        text-transform: uppercase;
      }

      &-number {
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0;
      }
    }
  }

  .general-enquiries {
    background-color: $offwhite;

    @include bp( 1 ) {
      // element, top, right, bottom, left, dividier
      @include half( padding, 63, 40, 65, 40, 2 );
    }

    @include bp( 1024 ) {
      @include half( padding, 63, 0, 65, 0, 1 );
    }

    .top-text {
      @include bp( 1024 ) {
        text-align: left;
        padding-left: 0;
      }
    }

    fieldset {
      border: 0;

      label {
        display: none;
      }

      input,
      textarea {
        background-color: transparent;
        margin-bottom: 44px;

        &::placeholder {
          font-size: 14px;
          line-height: 19px;
          font-family: $open;
          opacity: 0.6;
          color: $dgrey;
        }
      }

      .frm_submit {
        button {
          border: 0;
          cursor: pointer;
        }
      }
    }
  }
}
