.home-visits {
  padding: 57px 20px 69px;
  background-color: $offwhite;

  .top-text {
    max-width: 1134px;

    @include center-block;

    @include bp( 1 ) {
      font-size: 16px;
      line-height: 31px;
      font-family: $open;
      letter-spacing: 0;
      margin-top: 35px;
      margin-bottom: 44px;
      text-align: center;

      // element, top, right, bottom, left, dividier
      @include half( padding, 0, 40, 0, 40, 2 );
    }
  }

  .image {
    img {
      @include center-block;
    }
  }

  .point {
    &-lists {
      @include bp( 1 ) {
        max-width: 1134px;
        // element, value, dividier
        @include half1( margin-top, 60, 2 );
        @include center-block;
      }

      @include bp( 1024 ) {
        @include half1( margin-top, 60, 1 );
      }
    }

    &-list {
      margin-bottom: 40px;

      @include bp( 768 ) {
        width: 45%;

        &:nth-child(odd) {
          float: left;
        }

        &:nth-child(even) {
          float: right;
        }
      }

      ul {
        margin: 0;
        padding-left: 18px;
      }

      li {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 31px;
      font-family: $hind;
      color: $dblue;
      margin-bottom: 20px;
    }

    &-text {
      font-size: 16px;
      line-height: 31px;
      font-family: $open;
      letter-spacing: 0;
    }
  }
}
