.image-slider {
  &-wrapper {
    max-width: 1065px;
    padding: 65px 0;

    @include center-block;
  }

  img {
    @include center-block;
  }

  .custom-slick-arrow {
    &.custom-slick {
      &-prev,
      &-next {
        &::after {
          top: 50%;
          margin-top: -( 47 / 2 ) * 1px;
        }
      }

      &-prev {
        &::after {
          left: 0;
        }
      }

      &-next {
        &::after {
          right: 0;
        }
      }
    }
  }
}
