.products-slider {
  padding-top: 63px;
  padding-bottom: 95px;

  .blue-dots {
    margin-bottom: 60px;
  }

  .products-slides {
    max-width: 1400px;

    @include center-block;

    @include bp( 1 ) {
      width: 70%;
    }

    @include bp( 1024 ) {
      width: 80%;
    }

    .woocommerce {
      ul.products {
        padding: 0;
        margin: 0;

        .slick-list {
          @include bp( 1 ) {
            max-height: 450px;
          }

          @include bp( 425 ) {
            max-height: 482px;
          }
        }

        li.product {
          clear: none;
          //max-width: 240px;
          text-align: center;
          position: relative;

          @include bp( 1 ) {
            padding: 40px 0;
            height: 390px;
          }

          a.woocommerce-loop-product__link {
            max-width: 240px;
            padding: 0 10px;

            @include center-block;
          }

          .shop-image-wrapper {
            position: relative;
            height: 215px;
          }

          img {
            @include absmid( 'b' );
          }

          h2 {
            font-size: 20px;
            font-weight: 600;
            color: $dgrey;
            line-height: 32px;
            letter-spacing: 0;
            margin-top: 14px;
          }

          .price {
            display: block;
            margin-bottom: 35px;

            .amount {
              font-weight: 700;
              font-size: 24px;
              line-height: 38px;
              letter-spacing: 0;
              color: $green;
            }

            ins {
              text-decoration: none;
            }

            del,
            del .amount {
              color: $grey;
              font-weight: 300;
              font-size: 16px;
            }
          }

          &.slick-active {
            border-right: 1px solid $grey;

            &.last-active-slide {
              border: 0;
            }
          }

          .onsale {
            position: absolute;
            top: -10px;
            right: -10px;
            padding: 21px 11px;
            background-color: $green;
            color: white;
            text-transform: uppercase;
            border-radius: 100%;
          }

          .button {
            padding-left: 32px;
            padding-right: 32px;
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translateX( -50% );
            width: 110px;
          }
        }
      }
    }
  }
}
