.products-offered {
  background-color: $offwhite;
  padding: 140px 0 50px;
  margin-top: -100px;

  &-wrapper {
    @include bp( 1 ) {
      max-width: 90%;

      @include center-block;
    }

    @include bp( 1440 ) {
      max-width: 1346px;
    }
  }

  .product {
    &-types {
      display: flex;
      flex-wrap: wrap;

      @include bp( 1 ) {
        justify-content: center;
      }

      @include bp( 600 ) {
        justify-content: space-around;
      }

      @include bp( 1440 ) {
        justify-content: space-between;
      }
    }

    &-type {
      display: block;
      max-width: 208px;
      text-align: center;
      height: 320px;
      position: relative;

      .image {
        display: block;
        min-height: 100px;
        position: relative;
        margin-bottom: 20px;

        img {
          @include absmid( 'b' );

          width: unset;
        }
      }

      .title {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0;
        color: $dblue;
        font-weight: 700;
      }

      .sep {
        border: 0.5px solid $green;
        width: 39px;
        margin: 8px 0 16px;

        @include center-block;
      }

      .text {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0;
        color: $dgrey;
        max-width: 193px;
        margin-bottom: 20px;
      }

      .btn {
        padding: 14px;

        &-wrap {
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }
}
