.schedule-eye-appointment {
  .section-title,
  .blue-dots {
    display: none;
  }

  background-color: $blue;
  color: white;
  float: left;
  width: 100%;
  box-sizing: border-box;

  @include bp( 1 ) {
    @include half( padding, 68, 40, 72, 40, 2 );

    text-align: center;
  }

  @include bp( 1024 ) {
    @include half( padding, 68, 0, 72, 0, 1 );
  }

  &-wrapper {
    max-width: 904px;

    @include center-block;
  }

  .title {
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 61px;
  }

  .text {
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
  }

  .btn-wrap {
    @include bp( 1, 1023 ) {
      margin-top: 30px;
    }

    @include bp( 1024 ) {
      margin-top: 12px;
    }
  }

  &.layout {
    &-horizontal {
      @include bp( 1024 ) {
        text-align: left;
      }

      .title-text {
        @include bp( 1024 ) {
          float: left;
        }
      }

      .btn-wrap {
        @include bp( 1024 ) {
          float: right;
        }
      }
    }

    &-vertical {
      .btn-wrap {
        margin-top: 40px;
      }
    }
  }
}
