.team-members {
  @include bp( 1 ) {
    font-size: 16px;
    letter-spacing: 0;
    font-family: $open;
    text-align: center;
    color: $dgrey;
  }

  .section {
    &-top,
    &-bottom {
      @include bp( 1 ) {
        @include half( padding, 80, 40, 90, 40, 2 );
      }

      @include bp( 768 ) {
        @include half( padding, 80, 40, 90, 40, 1 );
      }
    }

    &-top {
      background-color: $offwhite;

      .job {
        &-types {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          margin-top: 60px;
        }

        &-type-wrap {
          width: 33.3333333%;
          max-width: 329px;
          min-width: 300px;
          box-sizing: border-box;

          @include center-block;

          @include bp( 1, 996 ) {
            margin-bottom: 30px;
          }

          &.last-item {
            margin-bottom: 0;
          }

          @include bp( 1, 1439 ) {
            padding: 0 20px;
          }
        }

        &-type {
          font-size: 24px;
          font-weight: 700;
          line-height: 38px;
          font-family: $hind;
          letter-spacing: 0;
          color: $dblue;
          text-transform: uppercase;
        }

        &-text {
          line-height: 25px;
        }
      }
    }

    &-bottom {
      .team-members {
        &-wrap {
          max-width: 1257px;

          @include center-block;
        }

        &-wrapper {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
        }
      }

      .team-member {
        max-width: 279px;
        min-width: 25%;
        margin-bottom: 60px;
        padding: 0 20px;
        box-sizing: border-box;

        @include center-block;
      }

      .image {
        img {
          border-radius: 100%;
        }
      }

      .name {
        font-size: 20px;
        font-weight: 600;
        font-family: $hind;
        line-height: 32px;
        letter-spacing: 0;
        color: $dgrey;
        margin-top: 29px;
      }

      .job-type {
        font-size: 15px;
        font-family: $hind;
        line-height: 24px;
        color: $blue;
        text-transform: uppercase;
      }

      .location {
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.24px;
        color: $grey;
        margin-top: 7px;
        text-transform: uppercase;
      }
    }
  }

  .top-text,
  .job-types {
    max-width: 1134px;

    @include center-block;
  }

  .top-text {
    line-height: 31px;
  }

  .sep {
    width: 39px;
    height: 1px;
    background-color: $blue;
    margin-top: 12px;
    margin-bottom: 26px;

    @include center-block;
  }
}
