.testimonials {
  color: white;

  .image-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur( 6px ) contrast( 0.3 );

    @supports not( backdrop-filter: blur() ) {
      background-color: rgba( $dgrey, 0.6 );
    }
  }

  &-image {
    position: relative;
    padding: 72px 0 70px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section-title {
    color: white;
    position: relative;
    z-index: 1;
  }

  .blue {
    &-dot {
      background-color: white;
      position: relative;
      z-index: 1;
    }
  }

  &-slides-wrapper {
    margin-top: 43px;
  }

  .testimonial {
    text-align: center;

    &-wrapper {
      padding: 35px 66px 44px;
      border-top: 3px solid white;
      border-right: 3px solid white;
      border-bottom: 3px solid white;
      position: relative;
      margin-bottom: 60px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        width: 3px;
        height: 27%;
        background-color: white;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      @include bp( 1 ) {
        width: 70%;
        max-width: 1037px;

        @include center-block;
      }

      .quotes {
        position: absolute;
        content: '';
        background-image: url( '../images/icons/inverted-commas.png' );
        display: block;
        width: 70px;
        height: 52px;
        top: 50%;
        left: 0;
        margin-top: -27px;
        margin-left: -35px;
      }
    }

    .text {
      font-size: 20px;
      line-height: 31px;
    }

    .sep {
      width: 39px;
      height: 1px;
      background-color: $grey;
      margin-top: 20px;
      margin-bottom: 30px;

      @include center-block;
    }

    .name {
      font-size: 18px;
      font-weight: 600;
      line-height: 29px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    .location {
      font-size: 12px;
      line-height: 17px;
      font-family: $open;
      letter-spacing: 0.224px;
      color: $grey;
    }
  }

  .slick-dots {
    li {
      button {
        padding: 0;

        &::before {
          color: white;
          opacity: 0.38;
          font-size: 11px;
          transition: transit( opacity );
        }
      }

      &.slick-active {
        button {
          &::before {
            color: white;
            opacity: 1;
          }
        }
      }
    }
  }
}
