.text-image-hor-split {
  .title {
    font-size: 24px;
    font-family: $hind;
    font-weight: 700;
    letter-spacing: 0;
    color: $dblue;
  }

  .text {
    font-size: 16px;
    font-family: $open;
    line-height: 28px;
    letter-spacing: 0;

    &-section {
      @include bp( 1 ) {
        background-color: $offwhite;
        box-sizing: border-box;

        @include half( padding, 108, 57, 110, 40, 2 );
      }

      @include bp( 1024 ) {
        width: 50%;

        @include half( padding, 108, 57, 110, 40, 1.5 );
      }

      @include bp( 1440 ) {
        @include half( padding, 108, 57, 110, 57, 1 );
      }
    }

    &-wrapper {
      max-width: 650px;
    }

    ul,
    ol {
      margin-left: 0;
      padding-left: 18px;

      li {
        @include bp( 1024 ) {
          margin-bottom: 30px;
        }
      }
    }
  }

  .image-section {
    @include bp( 1 ) {
      display: block;
      width: 100%;
      min-height: 400px;
      background-size: cover;
      background-position: 50% 50%;
    }

    @include bp( 1024 ) {
      width: 50%;
      min-height: 532px;
    }
  }

  .title-image-section {
    @include bp( 1024 ) {
      display: flex;
    }
  }

  &.text_first {
    .column {
      &-odd {
        .text-section {
          order: 2;
        }

        .image-section {
          order: 1;
        }
      }

      &-even {
        .text-wrapper {
          @include bp( 1024 ) {
            float: right;
          }
        }
      }
    }
  }

  &.image_first {
    .column {
      &-even {
        .text-section {
          order: 2;
        }

        .image-section {
          order: 1;
        }
      }

      &-odd {
        .text-wrapper {
          @include bp( 1024 ) {
            float: right;
          }
        }
      }
    }
  }
}
