.text-only {
  &-wrapper {
    @include bp( 1 ) {
      font-size: 16px;
      line-height: 31px;
      letter-spacing: 0;
      font-family: $open;
      text-align: center;
      color: $dgrey;

      @include half( padding, 80, 40, 90, 40, 2 );
    }

    @include bp( 768 ) {
      @include half( padding, 80, 40, 90, 40, 1 );
    }

    @include bp( 1174 ) {
      max-width: 1134px;

      @include center-block;
    }
  }
}
