.title-text-read-more {
  float: left;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;

  .background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur( 6px ) contrast( 0.1 ) brightness( 1.8 );

    @supports not( backdrop-filter: blur(  ) ) {
      background-color: rgba( white, 0.75 );
    }
  }

  @include bp( 1 ) {
    @include half( padding, 80, 40, 60, 40, 2 );
  }

  @include bp( 1024 ) {
    @include half( padding, 80, 60, 60, 60, 1 );
  }

  .section-title,
  .blue-dots {
    z-index: 2;
    position: relative;
  }

  .conditions {
    max-width: 1364px;
    position: relative;
    z-index: 2;

    @include center-block;

    &-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    @include bp( 1 ) {
      // element, value, dividier
      @include half1( margin-top, 69, 2 );
    }

    @include bp( 1024 ) {
      // element, value, dividier
      @include half1( margin-top, 69, 1 );
    }

    &-col-1,
    &-col-2 {
      @include bp( 768 ) {
        width: 45%;
      }
    }
  }

  .condition {
    @include bp( 1 ) {
      // element, value, dividier
      @include half1( margin-bottom, 48, 2 );

      min-height: 308px;
      position: relative;
    }

    @include bp( 1024 ) {
      // element, value, dividier
      @include half1( margin-bottom, 48, 1 );

      min-height: 278px;
    }

    @include bp( 1200 ) {
      min-height: 258px;
    }

    @include bp( 1440 ) {
      min-height: 238px;
    }

    .dashicons {
      display: none;
    }

    &.open {
      .text {
        display: none;
      }

      .dashicons {
        display: block;
        color: $blue;
        cursor: pointer;
      }

      .btn-wrap {
        display: none;
      }
    }
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    font-family: $hind;
    line-height: 38px;
    letter-spacing: 0;
    color: $dblue;
    text-transform: uppercase;
  }

  .sep {
    display: block;
    width: 39px;
    height: 1px;
    background-color: $blue;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .text-full,
  .text {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;

    ol {
      list-style-type: lower-alpha;
    }
  }

  .text {
    &-content {
      position: relative;
    }

    position: absolute;
    display: block;

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        &::after {
          content: '...';
        }
      }
    }
  }

  .text-full {
    display: none;

    p:first-child {
      margin-top: 0;
    }
  }

  .btn {
    padding-left: 0;

    &-wrap {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
