.who-we-are-appointment {
  @include bp( 1024 ) {
    display: flex;
  }

  input {
    color: rgba( white, 0.6 );
  }

  &-wrapper {
    @include bp( 1 ) {
      padding: 20px;
      transition: transit( padding );
    }

    @include bp( 768 ) {
      padding: 50px;
    }
  }

  .frm_form_field {
    @include bp( 1, 420 ) {
      //width: 80% !important;
      //float: left !important;
    }

    margin-left: 0;
  }

  .section-title {
    color: white;

    @include bp( 1024 ) {
      text-align: left;
    }
  }

  .top-text {
    color: white;
    padding: 0;
  }

  .blue {
    &-dots {
      @include bp( 1024 ) {
        text-align: left;
      }
    }

    &-dot {
      background-color: $lblue;
    }
  }

  .who-we-are {
    @include bp( 1 ) {
      text-align: center;
      background-size: cover;
      position: relative;
    }

    @include bp( 1024 ) {
      text-align: left;
    }

    .blur-wrap {
      @include bp( 1 ) {
        @supports not ( backdrop-filter: blur(  ) ) {
          background-color: rgba( $dgrey, 0.3 );
        }

        backdrop-filter: blur( 13px ) contrast( 0.4 );
        padding: 30px;
      }

      @include bp( 1, 1023 ) {
        max-width: 525px;

        @include center-block;
      }

      @include bp( 1024 ) {
        margin: 10px;
        padding: 20px;
        box-sizing: border-box;

        @include absmid( 'b' );

        width: 80%;
      }

      @include bp( 1440 ) {
        @include half( 'padding', 96, 115, 115, 155, 2 );
      }

      @include bp( 1800 ) {
        @include half( 'padding', 96, 115, 115, 155, 1 );
      }
    }

    .text {
      font-weight: 300;
      color: white;
      font-size: 16px;
      line-height: 31px;
      letter-spacing: 0;
      margin: 46px 0;
    }
  }

  .make-an-appointment {
    background-color: $dblue;
    box-sizing: border-box;
    font-family: $open;
    overflow: hidden;

    @include bp( 1 ) {
      padding: 30px;
    }

    @include bp( 1440 ) {
      @include half( 'padding', 103, 278, 103, 123, 2 );
    }

    @include bp( 1800 ) {
      @include half( 'padding', 103, 278, 103, 123, 1 );
    }

    label.frm_primary_label {
      display: none;
    }

    div.frm_primary_label {
      color: rgba( white, 0.6 );
      //opacity: 0.6;
      font-size: 14px;
      font-weight: 300;
    }

    fieldset {
      border: 0;
    }

    input[type='text'],
    input[type='tel'],
    input[type='email'] {
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid white;
      padding: 0.6em 1.4em 0.5em 0;
      box-sizing: border-box;
      margin-top: 38px;

      @include bp( 1 ) {
        width: 100%;
      }

      &::placeholder {
        font-size: 14px;
        font-weight: 300;
        opacity: 0.6;
        color: white;
      }
    }

    .frm_half {
      select {
        @include bp( 1 ) {
          width: 100%;
        }
      }
    }

    .frm_button_submit {
      border: 0;
    }

    select {
      //@include do_select(  );

      padding-left: 0;
      color: rgba( $offwhite, 0.6 );
    }

    .select_desired-time,
    .select_doctor {
      .frm_primary_label {
        padding: 0.9em 1.4em 0.5em 0;
        border-bottom: 2px solid white;
      }
    }

    .select_desired {
      &-time {
        margin-top: 38px;
        position: relative;

        .frm_primary_label {
          margin-right: 0;
          height: 16px;
          //position: absolute;
          //top: 4px;
          //z-index: 0;
        }

        .styledSelect {
          top: -25px;
          height: 20px;
          color: rgba( white, 0.6 );

          &::after {
            background-image: url( '../images/icons/clock.png' );
            top: 0;
            right: 0;
            position: absolute;
          }
        }

        .select {
          .options {
            top: 0;
          }
        }

        .selec {
          position: relative;
          z-index: 1;
          background-image: url( '../images/icons/clock.png' );
          background-size: 16px 16px;
          background-position: right;
        }
      }

      &-date {
        position: relative;

        &::after {
          position: absolute;
          bottom: 12px;
          right: 0;
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          background-image: url( '../images/icons/calendar.png' );
          background-size: 16px 16px;
          background-position: right;
        }

        input {
          color: rgba( white, 0.6 );
        }
      }
    }

    .select_doctor {
      margin-top: 38px;
      float: left;
      width: 100%;

      .styledSelect {
        color: rgba( white, 0.6 );
        padding: 0.9em 1.4em 0.5em 0;
        border-bottom: 2px solid white;
        top: -15px;

        @include bp( 1, 442 ) {
          margin-bottom: -1em;
        }

        &::after {
          background-image: url( '../images/arrow_white_solid.png' );
          position: absolute;
          right: 0;
          top: 15px;
          background-size: 16px 13px;
          background-repeat: no-repeat;
        }
      }

      .elect {
        width: 100%;
        font-size: 14px;
        background-image: url( '../images/arrow_white_solid.png' );
      }
    }

    .select_store-locations {
      float: left;
      width: 100%;
      margin-top: 38px;

      .frm_radio {
        @include bp( 600 ) {
          width: 50%;
          float: left;
        }
      }

      .frm_opt_container {
        float: right;
        width: 70%;

        label {
          color: rgba( $offwhite, 0.6 );
          font-size: 14px;
          font-weight: 300;
        }

        input {
          position: relative;
          margin-right: 12px;
          width: 26px;

          @include bp( 1 ) {
            margin-bottom: 20px;
          }

          &::before {
            content: '';
            position: absolute;
            display: block;
            width: 26px;
            height: 26px;
            background-color: white;
            border-radius: 100%;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
          }

          &::after {
            content: '';
            position: absolute;
            display: block;
            width: 9px;
            height: 9px;
            background-color: $grey;
            border-radius: 100%;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
          }

          &:checked::after {
            background-color: $green;
          }
        }
      }
    }

    .frm_submit {
      margin-top: 70px;

      @include bp( 1, 599 ) {
        float: left;
      }
    }
  }

  .who-we-are,
  .make-an-appointment {
    @include bp( 1024 ) {
      width: 50%;
    }

    &.full-width {
      width: 100%;
      padding-left: 0;
      padding-right: 0;

      .full-width-wrapper {
        max-width: 560px;

        @include center-block;
      }

      .blue-dots {
        text-align: center;
      }

      .section-title {
        text-align: center;
      }
    }
  }
}
