.products-collections-by-brand {
  padding: 67px 0 92px;

  .images {
    margin-top: 72px;
  }

  .btn-wrap,
  .overlay {
    opacity: 0;
    transition: transit( opacity );
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( white, 0.8 );
  }

  .btn-wrap {
    @include absmid( 'b' );

    text-align: center;
    margin-top: -50px;
  }

  .collection-wrapper {
    position: relative;
    flex-grow: 2 0;

    &:hover > .overlay,
    &:hover > .btn-wrap {
      opacity: 1;
    }
  }

  .image {
    img {
      @include center-block;
    }
  }

  .logo {
    display: block;
    height: 100px;
    position: relative;
    margin-top: 30px;

    img {
      @include absmid( 'b' );

      width: unset;
    }
  }

  .custom-slick-arrow {
    &.custom-slick {
      &-prev,
      &-next {
        &::after {
          top: 50%;
          margin-top: -100px;
        }
      }

      &-prev {
        &::after {
          left: 50px;
        }
      }

      &-next {
        &::after {
          right: 50px;
          transform: rotate( 180deg );
        }
      }
    }
  }
}
