.error404 {
  .alert.alert-warning {
    margin: 50px 0;
    max-width: 585px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.3px;
    color: $dblue;

    @include center-block;

    .sep {
      width: 88%;
      height: 2px;
      background-color: $dblue;
      margin-bottom: 30px;

      @include center-block;
    }

    .btn-wrap {
      margin-top: 40px;
    }
  }
}
