footer.content-info {
  background-color: $dblue;
  float: left;
  width: 100%;
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-family: $open;
  letter-spacing: 0;
  font-weight: 300;
  box-sizing: border-box;

  @include bp( 1 ) {
    @include half( padding, 100, 60, 130, 60, 2 );
  }

  @include bp( 768 ) {
    padding: 100px 60px 65px 60px;
  }

  .container {
    max-width: 1365px;
    position: relative;

    @include center-block;
  }

  a {
    @include colored-links( white, $grey, white );
  }

  .eu-logo-container {
    @include bp( 1024 ) {
      position: absolute;
      top: 50%;
      right: 0;
      text-align: right;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    .eu-logo {
      height: 40px;

      @include bp( 1024 ) {
        height: 75px;
      }
    }
  }

  .widgets {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .widget {
      @include bp( 1 ) {
        padding: 0 10px;
        margin-bottom: 30px;
        box-sizing: border-box;
        min-width: 100%;
      }

      @include bp( 600 ) {
        min-width: 33%;
      }

      @include bp( 1024 ) {
        min-width: unset;
        margin-bottom: 0;
      }
    }

    .sep {
      display: block;
      width: 30px;
      height: 1px;
      background-color: $blue;
      margin: 10px 0;
    }
  }

  .payment-credits {
    margin-top: 30px;

    .payment-methods {
      .wrapper {
        display: flex;
        align-items: center;

        @include bp( 1 ) {
          justify-content: center;
        }

        @include bp( 1024 ) {
          justify-content: flex-end;
        }
      }
    }

    .title {
      text-transform: uppercase;
      margin-right: 20px;
    }

    .images {
      display: flex;

      .image {
        margin-right: 10px;

        &.last-item {
          margin-right: 0;
        }
      }

      img {
        display: block;
      }
    }
  }

  .payments-social-icons-credits {
    @include bp( 1024 ) {
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
    }
  }

  .social {
    &-icons-credits {
      width: 100%;
    }

    &-icons {
      @include bp( 1, 1023 ) {
        margin-top: 30px;
        text-align: center;
      }
    }

    &-icon {
      display: inline-block;
      width: 27px;
      height: 27px;
      margin-right: 9px;

      &.last-item {
        margin-right: 0;
      }
    }
  }

  .credit-page-links {
    display: flex;
    margin-top: 30px;

    @include bp( 1 ) {
      justify-content: center;
    }

    @include bp( 1024 ) {
      justify-content: flex-end;
    }
  }

  .credits {
    @include bp( 1, 1023 ) {
      margin-top: 30px;
      text-align: center;
    }

    .credit {
      @include bp( 1200 ) {
        display: inline-block;
      }

      &.copyright {
        @include bp( 1 ) {
          margin-top: 30px;
        }
      }
    }

    .footer-sep {
      @include bp( 1 ) {
        display: none;
      }

      @include bp( 1200 ) {
        display: inline-block;
      }
    }
  }
}
