// TODO: .banner .nav li {}
// TODO: .banner .nav a {}

.eu-strip {
  position: relative;
  display: flex;
  align-items: self-end;
  justify-content: center;

  img {
    height: 70px;
  }
}

.banner {
  position: relative;
  z-index: 3;
  //height: 0;
  float: left;
  width: 100%;

  &.checkout-banner {
    text-align: center;
    box-sizing: border-box;

    .custom-logo-link {
      float: unset;
      display: block;
      padding-bottom: 32px;

      img {
        @include center-block;
      }
    }
  }

  .container {
    max-width: 1370px;

    @include center-block;

    @include bp( 1024 ) {
      padding: 0 35px;
    }
  }

  .custom-logo-link {
    z-index: 1;
    padding-top: 32px;
    display: inline-block;

    @include bp( 1, 1023 ) {
      @include absmid( 'h' );
    }

    @include bp( 1024 ) {
      position: relative;
      float: left;
    }

    .custom-logo {
      @include bp( 1 ) {
        width: 172px;
        height: auto;
      }
    }
  }
}

.site-brand {
  position: absolute;
  clip: rect( 1px, 1px, 1px, 1px );
}
