.hero {
  &-images {
    @include bp( 1 ) {
      position: absolute;
      top: 0;
      z-index: 0;
      //overflow: hidden;
      width: 100%;
    }

    .grad-h {
      height: 95%;
    }
  }

  &-slides {
    overflow: hidden;
  }

  &-slider {
    position: relative;

    .image {
      width: auto;
      max-width: unset;
      background-position: 65%;
      background-size: cover;
      background-repeat: no-repeat;

      @include bp( 1 ) {
        height: 100vh;
      }

      @include bp( 1024 ) {
        height: 95vh;
      }
    }
  }

  &-slides-content {
    max-width: 100%;
    font-family: $hind;
    z-index: 2;
    overflow: hidden;
    margin-bottom: 0 !important;

    @include bp( 1, 1023 ) {
      @include absmid( 'v', 37 );
    }

    @include bp( 1024 ) {
      @include absmid( 'b' );

      max-width: 1132px;
      text-align: left;
      padding-bottom: 50px;
    }

    .hero-slider {
      padding: 20px 0;
    }

    .content-box {
      @include bp( 1 ) {
        max-width: 240px;
        padding: 0 35px;
      }

      @include bp( 1024 ) {
        max-width: unset;
      }
    }

    .slick-list {
      padding-bottom: 30px;
    }

    .slick-dots {
      text-align: left;
      padding-left: 35px;
      bottom: 0;

      li {
        button {
          &::before {
            font-size: 11px;
            color: $offwhite;
            opacity: 0.38;
            width: 11px;
            height: 11px;
            transition: transit( color );
          }
        }

        &.slick-active {
          button {
            &::before {
              color: $blue;
              opacity: 0.98;
            }
          }
        }
      }
    }

    .title {
      @include bp( 1 ) {
        line-height: 51px;
        font-weight: 700;
        color: white;
        letter-spacing: 0;
        margin-bottom: 20px;
        font-size: 48px;
      }
    }

    .text {
      @include bp( 1 ) {
        font-weight: 300;
        color: white;
        letter-spacing: 0;
        line-height: 39px;
        font-size: 30px;
      }
    }

    .btn-wrap {
      @include bp( 1 ) {
        margin-top: 30px;
      }

      @include bp( 1024 ) {
        margin-top: 50px;
      }
    }
  }
}

.jos-eye {
  position: relative;
  width: 100%;
  height: 317px;
  overflow: hidden;

  img {
    width: 1920px;
    max-width: unset;
    transform: rotate( 180deg );

    @include absmid( 'h' );
  }

  &-wrapper {
    position: absolute;
    width: 100%;
    height: 317px;
    z-index: 1;
    font-family: $hind;

    @include bp( 1, 1023 ) {
      bottom: -50px;
    }

    @include bp( 1024 ) {
      bottom: -100px;
    }

    &.small {
      @include bp( 1024 ) {
        display: none;
      }
    }

    &.large {
      @include bp( 1, 1023 ) {
        display: none;
      }
    }
  }

  &-content {
    color: white;
    letter-spacing: 0;

    @include absmid( 'b' );

    @include bp( 1 ) {
      margin-top: 20px;
      text-align: center;
    }

    @include bp( 1024 ) {
      margin-top: 0;
      max-width: 903px;
      text-align: left;
    }

    .title {
      font-weight: 700;

      @include bp( 1 ) {
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 43px;
      }

      @include bp( 414 ) {
        margin-bottom: 15px;
        font-size: 34px;
      }

      @include bp( 1024 ) {
        font-size: 38px;
        line-height: 61px;
        margin-bottom: 0;
      }
    }

    .text {
      font-weight: 300;
      line-height: 29px;

      @include bp( 1 ) {
        max-width: 318px;
        font-size: 16px;
      }

      @include bp( 414 ) {
        font-size: 18px;
      }

      @include bp( 1024 ) {
        max-width: unset;
      }

      @include center-block;
    }

    .btn-wrap {
      margin-top: 30px;

      @include bp( 1024 ) {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
      }

      a {
        padding: 14px 30px 12px;
      }
    }
  }
}
