.wrap {
  &.container {
    .home & {
      //margin-top: calc( 100vh - 86px );
      margin-top: 100vh;
      float: left;
      width: 100%;
    }

    float: left;
    width: 100%;
  }
}

.page {
  &-template-default,
  &.template-thank-you {
    .content {
      max-width: 1135px;
      margin-top: 76px;
      margin-bottom: 111px;

      @include center-block;
    }
  }

  &.template-thank-you {
    h2 {
      font-size: 33px;
      font-family: $hind;
      font-weight: 700;
      line-height: 37px;
    }

    p {
      font-size: 16px;
      font-family: $open;
      line-height: 28px;
      max-width: 616px;
      margin-top: 26px;

      @include center-block;
    }

    .content {
      padding: 0 20px;
    }
  }
}

.page-header {
  position: relative;

  .post-thumbnail {
    position: absolute;
    top: 0;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    transition: transit( background-position );

    @include bp( 1 ) {
      height: 50vh;
      transition: transit( height );
    }

    @include bp( 1024 ) {
      height: 385px;
    }
  }

  img {
    display: block;
  }

  h1 {
    @include absmid(  );

    text-align: center;
    z-index: 2;
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-top: 40px;
  }
}

.post-thumbnail {
  .term-contact-lenses .page-header & {
    @include bp( 1, 1023 ) {
      background-position: 80% 50%;
    }
  }
}
