.woocommerce .single-product div.product form.cart .quantity {
  float: none;
  margin: 0;
  display: inline-block;
}

.post-num-1 {
  background-color: $offwhite;
  box-sizing: border-box;

  @include bp( 1 ) {
    // element, top, right, bottom, left, dividier
    @include half( padding, 99, 40, 92, 40, 2 );
  }

  @include bp( 1482 ) {
    @include half( padding, 99, 0, 92, 0, 1 );
  }

  @include bp( 1024 ) {
    float: left;
    width: 100%;
  }

  .article-wrapper {
    @include bp( 1024 ) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .article-width {
    max-width: 1375px;

    @include center-block;
  }

  .post-thumbnail {
    @include bp( 1024 ) {
      float: left;
      width: 46%;
    }
  }

  .text-wrapper {
    @include bp( 1024 ) {
      float: right;
      width: 45%;
    }
  }
}

.blog {
  .articles-wrap {
    float: left;
    width: 100%;

    @include bp( 1 ) {
      margin-top: 37px;
    }

    &-width {
      max-width: 1375px;

      @include center-block;

      @include bp( 1024 ) {
        padding: 0 20px;
      }
    }

    article.post {
      @include bp( 1 ) {
        @include half1( margin-bottom, 102, 2 );
      }

      @include bp( 1024 ) {
        @include half1( margin-bottom, 102, 1 );
      }
    }

    .post-num {
      @include bp( 1024 ) {
        &-2,
        &-4 {
          float: left;
          width: 40%;
        }

        &-3,
        &-5 {
          float: right;
          width: 40%;
        }
      }
    }
  }

  article {
    &.post {
      .article-wrapper {
        @include bp( 1, 1023 ) {
          max-width: 632px;

          @include center-block;
        }
      }

      time {
        font-size: 12px;
        font-family: $open;
        line-height: 17px;
        letter-spacing: 0.24px;
        color: $mgrey;
        text-transform: uppercase;

        @include bp( 1 ) {
          display: block;
          // element, value, dividier
          @include half1( margin-bottom, 28, 2 );
        }

        @include bp( 1024 ) {
          @include half1( margin-bottom, 28, 1 );
        }
      }

      header {
        @include bp( 1 ) {
          font-weight: 700;
          line-height: 30px;
          font-family: $hind;
          letter-spacing: 0;
        }

        h2 {
          @include bp( 1 ) {
            // element, value, dividier
            @include half1( font-size, 24, 1.5 );
          }

          @include bp( 1024 ) {
            @include half1( font-size, 24, 1 );
          }
        }

        a {
          @include colored-links( $dgrey, $dgrey, $dgrey );
        }
      }

      .sep {
        display: block;
        width: 39px;
        height: 1px;
        background-color: $blue;
        margin: 19px 0 28px;
      }

      .post-thumbnail {
        @include bp( 1 ) {
          margin-bottom: 30px;
        }

        img {
          border: 4px solid white;
          box-sizing: border-box;

          @include center-block;
        }
      }

      .btn {
        padding-left: 0;
      }
    }
  }
}

.single {
  .content .main {
    header,
    .entry-content,
    footer,
    .comments {
      max-width: 1134px;

      @include center-block;

      @include bp( 1 ) {
        padding: 0 20px;
      }
    }
  }

  article {
    time {
      font-size: 12px;
      font-family: $open;
      line-height: 17px;
      letter-spacing: 0.24px;
      color: $mgrey;
      text-transform: uppercase;

      @include bp( 1 ) {
        display: block;
        // element, top, right, bottom, left, dividier
        @include half( margin, 84, 0, 28, 0, 2 );
      }

      @include bp( 1024 ) {
        @include half( margin, 84, 0, 28, 0, 1 );
      }
    }
  }

  .entry {
    &-title {
      font-size: 24px;
      font-family: $hind;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0;
    }

    &-content {
      font-size: 16px;
      font-family: $open;
      line-height: 28px;
    }
  }

  .sep {
    display: block;
    width: 39px;
    height: 1px;
    background-color: $blue;
    margin: 28px 0 35px;
  }
}
