@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'global';
@import 'typography';
@import 'pre-loader';
@import 'links';
@import 'fields';

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba( black, 0.3 );
  background-color: $offwhite;
}

body::-webkit-scrollbar-thumb {
  background-color: $mgrey;
  outline: 1px solid slategrey;
}

body::-webkit-resizer {
  background-color: $dblue;
}
