/** Search form */
// TODO: .search-form {}
// TODO: .search-form label {}
// TODO: .search-form .search-field {}
// TODO: .search-form .search-submit {}

input,
textarea {
  padding: 16px;
  padding-left: 16px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid $grey;

  &::placeholder {
    color: $grey;
  }
}

textarea {
  border: 1px solid $grey;
}

.dg-contact_form {
  fieldset {
    border: 0;

    input,
    textarea {
      background-color: $blue;
      margin-bottom: 19px;
    }

    label {
      display: none;
    }

    textarea {
      text-transform: none;
    }
  }
}

.search {
  .alert {
    margin-bottom: 100px;
  }
}
