$hind: 'Hind', sans-serif;
$open: 'Open Sans', sans-serif;

body {
  font-family: $hind;
  overflow-x: hidden;
}

* {
  &:focus {
    outline: 0;
  }
}

/* Text meant only for screen readers. */
.sr-only {
  border: 0;
  clip: rect( 1px, 1px, 1px, 1px );
  clip-path: inset( 50% );
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

  &:focus {
    //background-color: $color__background-screen;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba( 0, 0, 0, 0.6 );
    clip: auto !important;
    clip-path: none;
    //color: $color__text-screen;
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  //@include colored-links( $llblue, $brown, $grey );
}

.grad {
  &-v {
    @include blue_grad( 'v' );

    position: absolute;
    width: 100%;
    height: 136px;
    z-index: 1;
  }

  &-h {
    @include blue_grad( 'h' );

    position: absolute;
    height: 100%;
    z-index: 1;

    @include bp( 1 ) {
      width: 63%;
    }

    @include bp( 1024 ) {
      width: 100%;
    }
  }
}

#frm_form_2_container {
  .frm_message {
    color: white;
  }
}
