// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix(  ) {
  content: '';
  display: table;
  table-layout: fixed;
}

// Clear after ( not all clearfix need this also )
@mixin clearfix-after(  ) {
  clear: both;
}

// Column width with margin
@mixin column-width( $numberColumns: 3 ) {
  width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin bp( $p, $q: null, $orient: width, $orientation: null ) {
  @if ( $q != null ) {
    @if ( $orientation == null ) {
      @media ( min-#{$orient}: $p * 1px ) and ( max-#{$orient}: $q * 1px ) {
        @content;
      }
    }

    @else {
      @media ( min-#{$orient}: $p * 1px ) and ( max-#{$orient}: $q * 1px ) and ( orientation: $orientation ) {
        @content;
      }
    }
  }

  @else {
    @if ( $orientation == null ) {
      @media ( min-#{$orient}: $p * 1px ) {
        @content;
      }
    }

    @else {
      @media ( min-#{$orient}: $p * 1px ) and ( orientation: $orientation ) {
        @content;
      }
    }
  }
}

@function transit( $el, $time:250, $ease:ease-in-out, $delay:0 ) {
  @return #{$el} #{$time}ms $ease #{$delay}s;
}

@mixin colored-links( $link, $hover: $link, $visited: $hover ) {
  color: $link;
  //background-color: $background;
  transition: transit( color ), transit( background-color );

  &:visited {
    color: $visited;
  }

  &:hover {
    color: $hover;
    //background-color: $backHover;
  }
}

@mixin backimage( $x:50, $y:50 ) {
  position: relative;
  background-position: $x * 1% $y * 1%;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin absmid( $direction: 'b', $offset: 50 ) {
  position: absolute;

  @if ( $direction == 'b' ) {
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate( -50%, -50% );
  }

  @else if ( $direction == 'v' ) {
    top: $offset * 1%;
    transform: translateY( -50% );
  }

  @else if ( $direction == 'h' ) {
    left: $offset * 1%;
    transform: translateX( -50% );
  }
}

@mixin blue_grad( $orientation: 'v' ) {
  @if ( $orientation == 'h' ) {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006a80+0,000000+100&0.7+0,0+100 */
    background: -moz-linear-gradient( left, rgba( 0, 106, 128, 0.7 ) 0%, rgba( 0, 0, 0, 0 ) 100% ); /* FF3.6-15 */
    background: -webkit-linear-gradient( left, rgba( 0, 106, 128, 0.7 ) 0%, rgba( 0, 0, 0, 0 ) 100% ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient( to right, rgba( 0, 106, 128, 0.7 ) 0%, rgba( 0, 0, 0, 0 ) 100% ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:dximagetransform.microsoft.gradient( startColorstr='#b3006a80', endColorstr='#00000000', GradientType=1 ); /* IE6-9 */
  }

  @else if ( $orientation == 'v' ) {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006a80+0, ffffff+100&0.79+0, 0+100 */
    background: -moz-linear-gradient( top, rgba( 0, 106, 128, 0.79 ) 0%, rgba( 255, 255, 255, 0 ) 100% ); /* FF3.6-15 */
    background: -webkit-linear-gradient( top, rgba( 0, 106, 128, 0.79 ) 0%, rgba( 255, 255, 255, 0 ) 100% ); /* Chrome10-25, Safari5.1-6 */
    background: linear-gradient( to bottom, rgba( 0, 106, 128, 0.79 ) 0%, rgba( 255, 255, 255, 0 ) 100% ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:dximagetransform.microsoft.gradient( startColorstr='#c9006a80', endColorstr='#00ffffff', GradientType=0 ); /* IE6-9 */
  }
}

@mixin do_select(  ) {
  padding: 0.6em 1.4em 0.5em 0.8em;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  border-bottom: 2px solid white;
  //box-shadow: 0 1px 0 1px rgba( 0, 0, 0, 0.04 );
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  //background-image: url( '../images/arrow_black_down.png' );
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 18px 18px;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    border-color: #888;
  }

  &:focus {
    color: #222;
    outline: none;
  }

  option {
    font-weight: normal;
  }
}

@mixin half( $el, $t, $r, $b, $l, $divider ) {
  #{$el}: ( $t / $divider ) * 1px ( $r / $divider ) * 1px ( $b / $divider ) * 1px ( $l / $divider ) * 1px;
  transition: transit( $el );
}

@mixin half1( $el, $value, $divider ) {
  #{$el}: ( $value / $divider ) * 1px;
  transition: transit( $el );
}
