@keyframes load {
  0% {
    opacity: 0.7;
    filter: blur( 1px );
  }

  100% {
    //opacity: 1;
    //font-size: 12px;
    //font-weight:600;
    //filter: blur(0);
  }
}

.pre-loader {
  &-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: $offwhite;
  }

  @include absmid( 'b' );

  text-align: center;
  font-family: $open;
  font-weight: 700;
  letter-spacing: 0.4px;
  animation: load 1.2s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
}
