// Slick Carousel font path
$slick-font-path: '~slick-carousel/slick/fonts/';

// Slick Carousel ajax-loader.gif path
$slick-loader-path: '~slick-carousel/slick/';

/** Colors */
$brand-primary:         #525ddc;

/** Box Model  */
$spacer:                2rem;

$lblue:     #ccebf2;
$blue:      #00b1eb;
$dblue:     #033878;
$green:     #006a80;
$grey:      #cbcbcb;
$mgrey:     #7a7878;
$dgrey:     #191919;
$offwhite:  #f5f5f5;
